@charset "UTF-8";

:root{
  /*--mvcustom-color-primary: #348c9d;*/
  --mvcustom-color-primary: #137a77;
  --mvcustom-color-secondary: #003348;
  /* Navbar */
  --mvcustom-navbar-h:90px;
  --mvcustom-navbar-color:#137a77;
  --mvcustom-navbar-colorbody:#f5f5f5;  
}

/* -- 
    Page d'accueil
-- */

/* Modifications des paramètres par défaut du mviewer / Panel help */

#help .modal-title {
	display: none;
}

#help .modal-header {
	padding: 40px 40px 30px 40px !important;
}

/* Ajout du label Fermer à côté de la croix */

#help .close::before {
	content: "Fermer ";
}

#help .close {
	color: var(--mvcustom-navbar-color) !important;
	opacity: 1;
	font-size: 16px;
	font-weight: 600;
}

#help .close:hover {
	opacity: 0.5;
}

/* Propriétés de style de la fenêtre */

.title-home {
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	color: var(--g700);
	margin: 30px 0;
}

.subtitle-home {
  color: var(--mvcustom-color-primary) !important;
	font-size: 18px;
	font-weight: 700;
	color: var(--bf500);
}

.text-home p {
	font-size: 15px !important;
	color: var(--mvcustom-color-primary);
	line-height: 1.4;
}

.btnGroup-home {
	display: flex;
	margin: 20px 0;
}

.btnGroup-home .fr-btn {
	margin-right: 10px;
}

.note-home {
	font-size: 11px;
	font-style: italic;
	text-align: right;
}

.topSpace {
	margin-top: 10px;
}

.top-logo {
  width: 65px;
}

.sub-logo {
  width: 200px;;
}

.pdf-container {
	width: 100%;
	height: 100vh; /* plein écran */
	border: none;
}